html, body {
  background: #eeeeee;
  color: #433A2D;
}
a {
  color: #112B76;
}
#navigation,
#footer {
  background: #4B4233;
  color: #fff;
  border: 1px solid #292011;
  border-right: none;
  border-left: none;
}
#navigation a,
#footer a {
  color: #fff;
}
#content {
  background: #efefef;
}
#main {
  background: #ccc;
  border: 1px solid #837A6D;
}
body {
  background-image: url(../images/bg-texture.png);
}
